<h3>Welcome {{name}}</h3>

{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td><a href="/stories/{{_id}}">{{title}}</a></td>
          <td>{{formatDate createdAt "MMMM Do YYYY , h:mm:ss a"}}</td>
          {{! here we are using help function moment for date formatting which is registered with handlebars }}
          {{! here we dont have to use () just space can work and formateDate require date and format type as arguements  }}
          <td><span class="dash-status">{{status}}</span></td>
          <td><a href="/stories/edit/{{_id}}" class="btn btn-float">
              <i class="fas fa-edit"></i>
            </a></td>
          <td><form
              action="/stories/{{_id}}?_method=DELETE"
              method="POST"
              id="delete-form"
            >
              <button type="submit" class="btn red">
                <i class="fas fa-trash"></i>
              </button></form></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You don't have any stories</p>
{{/if}}